:host {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 0 2rem;
  backdrop-filter: brightness(0.5);
}

.content {
  position: relative;
  background-color: var(--white);
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
  min-width: 600px;
  max-width: 800px;
  border-radius: 0.5rem;
  z-index: 15;
}

.title {
  font-family: var(--font-heading);
  font-weight: 800;
  font-size: 1.75rem;
  margin: 0;
  color: var(--black);
}

.body {
  font-family: var(--font-body);
  font-weight: 400;
  margin: 0;
  color: var(--black);
  line-height: 1.5em;
  font-size: 1.25rem;
  margin: 1.5rem 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.primary-button {
  font-family: var(--font-heading);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 0.25rem;
  cursor: pointer;
}

.primary-button {
  background-color: var(--black);
  color: var(--white);
}

.primary-button:hover {
  cursor: pointer;
  box-shadow: 0 0 0 0.125rem var(--white),
              0 0 0 0.25rem var(--black);
}

.close-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background: none;
  color: var(--light-grey);
  cursor: pointer;
}

.close-button:hover {
  color: var(--black);
}
