p {
  line-height: 1.625em;
}

a {
  color: var(--dark-sky);
  text-decoration: underline;
  font-weight: 600;
}

code {
  font-family: var(--font-body);
  border-radius: 0.125rem;
  font-weight: 600;
}

.secondary-button {
  font-family: var(--font-heading);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 0.25rem;
  cursor: pointer;
}

.secondary-button {
  background-color: var(--light-grey);
  color: var(--dark-grey);
}

.secondary-button:hover {
  cursor: pointer;
  box-shadow: 0 0 0 0.125rem var(--white),
              0 0 0 0.25rem var(--light-grey);
}
