:root {
  --white: #ffffff;
  --dimmed-white: #f8fafc;
  --black: #1e293b;
  --lightest-grey: #f1f5f9;
  --lighter-grey: #e2e8f0;
  --light-grey: #cbd5e1;
  --grey: #94a3b8;
  --dark-grey: #334155;
  --sky: #0ea5e9;
  --dark-sky: #0284c7;
  --red: #ef4444;
  --green: #10b981;

  --font-heading: "Raleway", sans-serif;
  --font-body: "Barlow", sans-serif;

}

[data-theme="dark"]:root {
  --white: #334155;
  --dimmed-white: #1e293b;
  --black: #f8fafc;

  --lightest-grey: #334155;
  --lighter-grey: #475569;
  --light-grey: #64748b;
  --grey: #cbd5e1;
  --dark-grey: #e2e8f0;

  --sky: #38bdf8;
  --dark-sky: #7dd3fc;
  --red: #f87171;
  --green: #34d399;

  --font-heading: "Raleway", sans-serif;
  --font-body: "Barlow", sans-serif;
}
